*{
    margin: 0;
    padding: 0;
}

body{
    background-color: aliceblue;
}

#sketcharea{
    display: flex;
    flex-wrap: wrap;
    margin: 100px auto;
    background-color: white;

}

.cell{
    border:1px solid whitesmoke;
}

.maincontainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    min-height: 300px;
    width: 60vw;
    height: 60vw;
    max-width: 600px;
    max-height: 600px;
  }