*{
    margin: 0;
    padding: 0; 
}

body{
    background-color: aliceblue;
}

#sketcharea{
    display: flex;
    flex-wrap: wrap;
    background-color: white;

}

.cell{
    border:1px solid whitesmoke;
}

.maincontainer {
    min-height: 100vh; /* Ensure maincontainer takes at least the full height of viewport */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Add padding for spacing around content */
}

.title {
    font-size: 24px;
    margin-bottom: 30px;
    color: blueviolet;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
}

input[type="text"] {
    width: 50px;
    padding: 4px;
    text-align: center;
    font-size: 14px;
}

#colorPicker {
    width: 100px;
    margin-bottom: 8px;
    margin-top: 20px;
}

.buttons {
    margin-top: 8px; /* Add margin to create space between buttons and other content */
    display: flex;
    gap: 12px;
}

button{
    font-size: 16px;
    border-radius: 10px;
    padding: 10px;
    background-color: paleturquoise;
    font-family: Arial, Helvetica, sans-serif;
    color: purple;
    font-weight: 700;

}

.lower{
    margin-bottom: 12px;
}

.error{
    margin-top: 5px;
    color: brown;
}
